<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pasajeros</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
<ul class="nav justify-content-end">
    <li class="nav-item"><a class="nav-link active" href="/pasajeros">Pasajeros</a></li>
    <li class="nav-item"><a class="nav-link active" href="/destinos">Destinos</a></li>
    <li class="nav-item"><a class="nav-link active" href="/pasajeros/crear">Nuevo Pasajero</a></li>
    <li class="nav-item"><a class="nav-link active" href="/destinos/crear">Nuevo Destino</a></li>
</ul>

  <div class="container">
  <div class="col-sm-2">
 </div>
 <div class="col-sm-8">
 <h3>Detalle</h3>
 <table class="table">
 <thead class="thead-light">
 <tr>
 <th scope="col">Identificador</th>
  <th scope="col">Ciudad</th>
   <th scope="col">Pais</th>
  <th scope="col">Fecha</th>
  <th scope="col">Pasajero</th>
 
</tr>
</thead>
    <tbody>
    <tr th:each="destino:${destinos}">
     <td th:text="${destino.id}"/>
    <td th:text="${destino.ciudad}"/>
    <td th:text="${destino.pais}"/>
    <td th:text="${destino.fecha}"/>
   <td th:text="${destino.pasajero.nombre}"/>
    <td th:text="${destino.pasajero.apellido}"/>
</tr>
</tbody>
</table>
</div>
<div class="col-sm-2">
<p></p>
</div>
</div>
</body>
</html>